
.header{
	
	width:800px;
	background-color:#273969;
	
}

.head_buttons{
	
	float:right;
	width:200px;
	
	
}

.logo{
	
	float: left;
	
}

.marco{
	
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
	/*border: 1px solid black;*/
	background-color: white;
	
}